*{
    margin:0;
    padding:0;
}

body{
    font-family: "Roboto", sans-serif;
}
#player{
    background-color: hwb(0 0% 0%);
    margin-left: auto;
    margin-right: auto;
    /* top: 300px; */
    width: 100px;
    height: 100px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size:32px;
    padding:5px;
    /* background-color:#29488c; */
    color: rgb(255,255,255);
}
nav{
    /* display: flex; */
    /* padding-bottom:5px; */
    background-color:#29488c;
    /* align-items: center; */
}
nav ul{
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content:center; 
}
nav ul li{
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items:center;  
}
nav img{
    display: block;
    margin-bottom: -30px;
}
nav li a{
text-decoration: none;
color:rgb(255, 255, 255);
font-size: 1.2rem;
font-weight: bold;
}

main{
    margin: 0.7rem;
    background-color: rgb(229, 243, 245);
    min-height:calc(75vh);
    padding: 4rem 6rem 0rem 6rem;
}

footer{
    background-color:#29488c;
    min-height:5vh;
    padding: 1rem 0rem 0rem 0rem;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;

}

.plant-collect{ padding-top: 10px;background-color:rgb(246, 227, 245);padding-bottom:10px;}
label{display:inline-block; width:30%; margin-top:1%;text-transform: uppercase;}
textarea{margin-top:10px;width:50%;margin-left:2%;}
input{margin-left:2%;width:50%;}
fieldset{width:75%;color:#302e2e;margin:0 auto;margin-top:2%;border:none;font-size:14px;text-transform: uppercase;}
select{width:50%;}
#submitPlant{width:auto;margin-top:10px;}
.plant-collect h3{padding:5px;text-align: center; font-size:24px;color:rgb(191, 147, 189);}